@using System.Security.Claims
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>

            @Html.ActionLink(User.Identity.GetUserName(),"OpenProfile", "Account")
        </li>

        <li>
            @Html.ActionLink("log out", "Logout", "Account")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("check in", "Register", "Account")
        </li>
        <li>
            @Html.ActionLink("log in", "Login", "Account")
        </li>
    </ul>
}
