@using Microsoft.AspNet.Identity
@model String

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>

            @Html.ActionLink(User.Identity.GetUserName() + " | " + Model,
                "Index", "User", routeValues: null, htmlAttributes: new { @class = "dsfdsfcsdc" })
        </li>

        <li> @Html.ActionLink("log out", "Logout", "Account", routeValues: null, htmlAttributes: new { @class = "dsfdsfcsdc" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("check in", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
